---
- name: Remove installation directory
  ansible.builtin.file:
    path: "{{ opensearch_install_dir }}"
    state: absent
  tags: [rollback, opensearch_rollback]

- name: Remove opensearch user
  ansible.builtin.user:
    name: "{{ opensearch_user }}"
    state: absent
  tags: [rollback, opensearch_rollback]

- name: Remove opensearch group
  ansible.builtin.group:
    name: "{{ opensearch_group }}"
    state: absent
  tags: [rollback, opensearch_rollback]

- name: Reset vm.max_map_count to default
  ansible.builtin.sysctl:
    name: vm.max_map_count
    value: '65530'
    state: present
    reload: yes
  tags: [rollback, opensearch_rollback, opensearch_sysctl_rollback]

- name: Remove OPENSEARCH_JAVA_HOME profile.d file
  ansible.builtin.file:
    path: /etc/profile.d/opensearch.sh
    state: absent
  tags: [rollback, opensearch_rollback, opensearch_config_rollback]
