---
- name: Verify OpenSearch is up
  ansible.builtin.uri:
    url: "https://localhost:9200"
    method: GET
    user: admin
    password: "{{ opensearch_admin_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: 200
  register: opensearch_status
  retries: 5
  delay: 10
  until: opensearch_status.status == 200
  tags: [opensearch_verify]

- name: Display OpenSearch status
  ansible.builtin.debug:
    var: opensearch_status.json
  tags: [opensearch_verify]
