---
- name: Start OpenSearch in background
  ansible.builtin.shell:
    cmd: "nohup ./opensearch > opensearch.log 2>&1 &"
    chdir: "{{ opensearch_install_dir }}/bin"
  become: true
  become_user: "{{ opensearch_user }}"
  tags: [opensearch_verify]

- name: Wait for OpenSearch to be available
  ansible.builtin.wait_for:
    port: 9200
    host: localhost
    timeout: 60
  tags: [opensearch_verify]

- name: Verify OpenSearch is up
  ansible.builtin.uri:
    url: "https://localhost:9200"
    method: GET
    user: admin
    password: "{{ opensearch_admin_password }}"
    force_basic_auth: yes
    validate_certs: no
    status_code: 200
  register: opensearch_status
  retries: 5
  delay: 10
  until: opensearch_status.status == 200
  tags: [opensearch_verify]

- name: Display OpenSearch status
  ansible.builtin.debug:
    var: opensearch_status.json
  tags: [opensearch_verify]
